html{
  height: fit-content;
}
 body {
  width: 100%;
  padding: 20px 10px 0 10px;
  font-family: Poppins, sans-sans-serif;
  height: fit-content;
  overflow: hidden;
}

h1,
h3,
p {
  text-align: left;
}

#container {
  margin: auto;
}

.link {
  stroke: #aaaaaacc;
  stroke-width: 1px;
}

#nodes {
  position: absolute;
}

.node {
  width: 3px;
  height: 3px;
  position: absolute;
  background: #0f0f0f 5%;
  border-radius: 200px;
  border: 0px solid #0f0f0f55;
}

.node-user {
  width: 5px;
  height: 5px;
  background: #dadada 5%;
}

.node-twitter {
  width: 6px;
  height: 6px;
  background: #1da1f2 5%;
}

.node-youtube {
  width: 7px;
  height: 7px;
  background: #c4302b 5%;
}

.node-reddit {
  background: orangered 5%;
}

.node-general {
  background: #3a3a3a 5%;
}
.header {
  display: flex;
  align-items: center;
}
.twitter {
  color: #1da1f2;
  background-color: #1da1f2;
}

.user {
  color: #dadada;
  background-color: #dadada;
}

.youtube {
  color: #c4302b;
  background-color: #c4302b;
}

.reddit {
  color: orangered;
  background-color: orangered;
}

.active {
  color: #0f0f0f !important;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#nodeInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p{
  margin: 0 10px;
}
#node-name{
  margin: 0;
  flex-wrap: wrap;
  word-break: break-all;
}
a{
  cursor: pointer;
}

#nodeList {
  display: none;
  width: 80%;
  height: 80%;
   margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hidden{
  display: none;
}
.rectangle {
  width:15px;
  height:15px;
  border-radius: 20px;
}
.twitter-color{
  background-color: #63A1FF;
}
label {
  margin-bottom:0;
}
input[type='radio'][name='buttonGroup'] { display:none; }
input[type='radio'][name='buttonGroup2'] { display:none; }
input[type='checkbox'][name='buttonGroup3'] { display:none; }
input[type='radio'][name='buttonGroup']:checked + label { background-color:#007bffed; color: #fff;}
input[type='radio'][name='buttonGroup2']:checked + label { background-color:#007bffed; color: #fff;}
input[type='checkbox'][name='buttonGroup3']:checked + label { background-color:#007bffed; color: #fff;}
/*
* find the flag-sprite here: https://www.flag-sprites.com/
* create an image and downlaod the file...
*
* You don't have to upload your own image,
* you can simply right click on the flag-sprites's image
* and select copy image address.
*
* In flags.css (from the file you download) you can copy-paste the .flag.flag-ad section
*/

.scene-tooltip {
  padding: 15px 20px;
  font-family: Poppins, sans-serif !important;
  color: #090909 !important;
  border-radius: 10px;
  font-weight: 500;
  max-width: 200px;
}

.content{
  height: calc(100vh - 104px);
  max-height: 900px;
}
.left {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1000;
}
.line{
  width: 15px;
  height: 1px;
  background-color: #B8B8B8;
}
#error{
  position: absolute;
    z-index: 2;
}
/*
 * Footer

a:link {
  color: orangered;
  text-decoration: none;
}
a:visited {
  color: orangered;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
}

.tableFooter {
  margin-top: 15px;
}
.footerSvg {
  width: 32px;

  /*
  * Spinner
  *
  */

.spinner-box {
  position: absolute;
  top: 45%;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.configure-border-1 {
  width: 50px;
  height: 50px;
  padding: 3px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fb5b53;
  animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
}

.configure-border-2 {
  width: 50px;
  height: 50px;
  padding: 3px;
  left: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1da1f2;
  transform: rotate(45deg);
  animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
}

.configure-core {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}
