body { background-color:#fafafa; padding: 50px; font-family: Poppins, sans-sans-serif; }

h1, h3, p { text-align:left; }

#container { margin: auto; }

.link { stroke: #aaaaaacc; stroke-width: 1px; }

#nodes {
  position: absolute;
}

.node {
  width: 10px;
	height: 10px;
  position: absolute;
	background: radial-gradient(#0f0f0f 5%, #0f0f0f01 95%);
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 200px;
  border: 0px solid #0f0f0f55;
}

.node-user {
  width: 16px;
	height: 16px;
  background: radial-gradient(#dadada 5%, #3a3a3a01 95%);
}

.node-twitter {
  width: 13px;
	height: 13px;
  background: radial-gradient(#1DA1F2 5%, #00eab701 95%);
}

.node-youtube {
  width: 12px;
	height: 12px;
  background: radial-gradient(#c4302b 5%, #c4302b01 95%);
}

.node-reddit {
  background: radial-gradient(orangered 5%, #c4302b01 95%);
}

.node-general {
  background: radial-gradient(#3a3a3a 5%, #dadada01 95%);
}

/*
* find the flag-sprite here: https://www.flag-sprites.com/
* create an image and downlaod the file...
*
* You don't have to upload your own image,
* you can simply right click on the flag-sprites's image
* and select copy image address.
*
* In flags.css (from the file you download) you can copy-paste the .flag.flag-ad section
*/

.tooltip {
  background: #dadada;
  padding: 15px 20px;
  font-family: Poppins, sans-serif;
  color: #090909;
  border-radius: 10px;
  font-weight: 500;
}

/*
 * Footer
 */
a:link    {color:orangered;  text-decoration:none}
a:visited {color:orangered; text-decoration:none}
a:hover   {color:red; text-decoration:underline}

.tableFooter{
  margin-top: 15px;
}
.footerSvg{
  width: 32px;
}
